<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password reset confirmation</title>
</head>
<body>
  {% if validlink %}
    <form method="POST">
      {% csrf_token %}
      <p>{{ form.new_password1.errors }}</p>
      <p>New password: {{ form.new_password1 }}</p>
      <p>{{ form.new_password2.errors }}</p>
      <p>Confirm password: {{ form.new_password2 }}</p>
      <button type="submit">Save</button>
    </form>
  {% else %}
    <p>Password reset failed.</p>
    <p>The password reset link was invalid, possibly because it has already been used.</p>
    <p> Please request a new password reset.</p>
  {% endif %}
</body>
</html>